- if activity.kind_of?(Hash)

  - if activity.keys[0] == 'place'
    = partial 'components/activity_place', locals: { activity: activity }
  
  - elsif activity.keys[0] == 'transport'
    = partial 'components/activity_transport', locals: { activity: activity }

- else
  .Day__activity= activity
