.DateItem.DateItem--summary{id: Date.parse(slug).strftime("%y-%m-%d")}
  
  = link_to date_link_for(slug) do
    %h2.DateItem__dayLabel= Date.parse(slug).strftime("%A")
    %h2.DateItem__dateLabel= Date.parse(slug).strftime("%b %-d")
