* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body {
  background: $background;
  &:before {
    content: '';
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 0;
  }
}
