.DateItem {
  padding: 15px;
  position: relative;
}

.DateItem + .DateItem {
  border-top: 1px solid $divider;
}

.DayItem__Schedule {
  margin-left: 28%;
}

.Day {
  margin: 0 0 0 45px;
  position: relative;
  padding: 15px 0;
}

.Day + .Day {
  border-top: 1px solid $divider--secondary;
}

.Day__label {
  @include ts--primary;
  font-weight: bold;
}

.Day::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -45px;
  z-index: 1;
}

.Day::after {
  content: '';
  display: block;
  border-radius: 1px;
  width: 2px;
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -31px;
  background: #eee;
  z-index: 0;
}

.Day--Morning::after {
  top: 46px;
  bottom: 0;
  border-radius: 1px 1px 0 0;
}

.Day--Night::after {
  display: none;
}

.Day--Morning::before {
  background: image-url('morning.png') 0 0 no-repeat;
  background-size: 30px 30px; 
}

.Day--Afternoon::before {
  background: image-url('afternoon.png') 0 0 no-repeat;
  background-size: 30px 30px;
}

.Day--Night::before {
  background: image-url('night.png') 0 0 no-repeat;
  background-size: 30px 30px;
}

.DateItem--summary a {
  text-decoration: none;
  color: inherit;
}
