.DateItem__Date {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 15px;
  width: 24%;
  float: left;
  padding: 15px 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.DateItem__dayLabel,
.DateItem__dateLabel {
  margin: 0;
  line-height: 1.4;
}

.DateItem__dayLabel {
  @include ts--primary;
}

.DateItem__dateLabel {
  @include ts--secondary;
  font-weight: normal;
}
