.Day__activities {
  margin-top: 5px;
  font-size: 11px;
  line-height: 1.3;
  a {
    color: inherit;
    transition: color 0.2s ease;
    text-decoration: none;
    &:hover {
      color: rgb(0, 110, 212);
    }
  }
}

.Day__activity + .Day__activity {
  border-top: 1px solid rgba(238,238,238,0.5);
}

.Day__activity {
  padding: 10px 0 10px 24px;
  color: #555;
  position: relative;
}

.Day__activity::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 34px;
  background: image-url('places/default.svg') 50% 50% no-repeat
}

.Activity--Sightseeing::before {
  background: image-url('places/sight.svg') 50% 50% no-repeat
}

.Activity--Coffee::before {
  background: image-url('places/coffee.svg') 50% 50% no-repeat
}

.Activity--Hotel::before {
  background: image-url('places/hotel.svg') 50% 50% no-repeat
}

.Activity--Bar::before {
  background: image-url('places/bar.svg') 50% 50% no-repeat
}

.Activity--Train::before {
  background: image-url('places/train.svg') 50% 50% no-repeat
}

.Activity--Shopping::before {
  background: image-url('places/shop.svg') 50% 50% no-repeat
}
