---
body_classes: day-view
---
- @dynamic_title = Date.parse(slug).strftime("%A %b %-d")

.CalendarBody
  .Header
    = link_to 'Itinerary', '/', class: 'Header__breadcrumb'
    
    = @dynamic_title
      
  = partial 'components/dayitem', locals: { slug: slug, date: date }

.DateNav.DateNav--footer
  = partial 'day/date_nav', locals: { slug: slug, date: date, prev_date: prev_date, next_date: next_date }
