---
  title: Japan
  body_classes: home
  meta_description:
  meta_keywords:
---

.Header
  Japan Itinerary — February 2019

.CalendarBody
  .DateCalendar.DateCalendar--header
    - # You might like to start the calendar week on a Sunday, but you’d be wrong ;)
    - [ 'Mon','Tue','Wed','Thu','Fri','Sat','Sun'].each do | day |
      .DateCalendar__day= day

  .DateCalendar.DateCalendar--body
    - # A couple of placeholder dates
    - [ '4', '5' ].each do | day |
      .DateCalendar__day.DateCalendar__day--placeholder
        %h2.DateItem__dayLabel= day
    - data.dates.sort{ |a, b| a.to_s.downcase <=> b.to_s.downcase }.each do | slug, date |
      = partial 'components/day_summary', locals: { slug: slug, date: date }

- data.dates.sort{ |a, b| a.to_s.downcase <=> b.to_s.downcase }.each do | slug, date |
  = partial 'components/dayitem', locals: { slug: slug, date: date }
:javascript
  let today = new Date().toISOString().substr(0, 10);
  document.querySelector(".DateCalendar--body").classList.add(`Date--${today}`);
