---
  title: Japan
  body_classes: home
  meta_description:
  meta_keywords:
---

.DateList
  - data.dates.sort{ |a, b| a.to_s.downcase <=> b.to_s.downcase }.each do | slug, date |
    = partial 'components/dayitem', locals: { slug: slug, date: date }
